.App {
  text-align: center;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .edit-delete-list {
  display: grid;
  text-align: left;
  margin: 25px;
}

.edit-delete-id,
.edit-delete-quote,
.edit-delete-author {
  padding: 5px;
  color: grey;
} */

#myGrid {
  text-align: left;
}

.page {
  margin-top: 10px;
  font-size: calc(6px + 2vmin);
}

a,
a:visited {
  color: #61dafb;
}

@media (max-width: 725px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 726px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
